/*General Settings*/
h1,h2,h3,h4,h5,h6,p{
	font-family: 'Lalezar', cursive;

}


h2{
 	color:white;
 	font-size: 100px;
}

h3{
	color:white;
	font-size: 40px;
}

/*NavBar*/

.navbar, .first-section{
	background-color: #F9DB79;
}

.nav_names{
	float:left;
}

.nav_names li{
	list-style: none;
	display: inline-block;

}

.nav_social{
	float:right;
	list-style: none;
	display: inline-block;
}

.nav_social li{
	list-style: none;
	display: inline-block;
}

/*First Section*/
.first-section{
	background-image: url("../img/pinkicecream.png");
	background-repeat: no-repeat;
	height:800px;
	text-align: center;
	background-position: center; 
}

.first-section h3{
	margin-top: 320px;

}

.gelato_picture{
	display: block;
    margin-left: auto;
    margin-right: auto
}





/*Footer*/
.footer{
	background: black;
	color:white;
}

.social_buttons li{
	list-style: none;
	display: inline-block;
}